@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import 'https://fonts.googleapis.com/css?family=Fauna+One';

body {
    color: #222;
    font-family: 'Fauna One', serif;
    font-size: 17px;
    line-height: 1.8!important;
}
html {
    overflow-x: hidden;
}
h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #111;
    margin-top: 0;
}
p {
    font-family: 'Fauna One', serif;
    font-weight: 300;
    color: #666;
    margin-left: 20px;
}
ul {
  font-family: 'Fauna One', serif;
  font-weight: 300;
  color: #666;
}
